<h4>Ability Scores</h4>
<h6>Choose a method to determine your status below:</h6>
<div class="create">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
              Roll for me!</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Standard Scores</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane" id="home" role="tabpanel" aria-labelledby="home-tab"> 
        <b><%= objectInfo.sumValueOne %>,
        <%= objectInfo.sumValueTwo %>,
        <%= objectInfo.sumValueThree %>,
        <%= objectInfo.sumValueFour %>,
        <%= objectInfo.sumValueFive %>,
        <%= objectInfo.sumValueSix %></b></div>
        <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <b><p>15, 14, 13, 12, 10, 8</p></b>
        </div>
      </div>

<p class="important">**Important!**</p>
<p>When you roll for stats to determine your ability scores, the 'roll for me' option will automatically roll 4d6, drop the lowest, then display all six numbers for you to assign to your stats. Please note this option is only able to be used once, as per the PHB rules. Feel free to pick the standard set of scores if you don't feel comfortable randomizing your ability scores. </p>


<form>
    <div class="form-row">
      <div class="col col-md-2">
        <input type="text" class="form-control" placeholder="STR" name="STR">
        <label for="STR">STR</label>
      </div>
    <div class="col col-md-2">
        <input type="text" class="form-control" placeholder="DEX" name="DEX">
        <label for="DEX">DEX</label>
    </div>
    <div class="col col-md-2">
        <input type="text" class="form-control" placeholder="CON" name="CON">
        <label for="CON">CON</label>
    </div>
    <div class="col col-md-2">
        <input type="text" class="form-control" placeholder="INT" name="INT">
        <label for="INT">INT</label>
    </div>
    <div class="col col-md-2">
        <input type="text" class="form-control" placeholder="WIS" name="WIS">
        <label for="WIS">WIS</label>
    </div>
    <div class="col col-md-2">
        <input type="text" class="form-control" placeholder="CHA" name="CHA">
        <label for="CHA">CHA</label>
    </div>
  </form>

<% console.log(objectInfo.userClass, 'userClass') %>
<div class="spellcaster">
  <% if (objectInfo.userClass === '46') { %>
  <p><b>WHOA</b> there Sorcerer, you need to pick your Origin:</p>

  <!-- Button trigger modal -->
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#draconic">
  Draconic
</button>

<!-- Modal -->
<div class="modal fade" id="draconic" tabindex="-1" aria-labelledby="draconicLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="draconicLabel">Draconic Blood</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Your innate magic comes from Draconic Magic that was mingled with your blood or that of your ancestors. Most often, sorcerers with this Origin trace their descent back to a mighty Sorcerer of ancient times who made a bargain with a Dragon or who might even have claimed a Dragon parent. Some of these bloodlines are well established in the world, but most are obscure. Any given Sorcerer could be the first of a new bloodline, as a result of a pact or some other exceptional circumstance.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
  


  <!-- Button trigger modal -->
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#wild">
Wild
</button>

<!-- Modal -->
<div class="modal fade" id="wild" tabindex="-1" aria-labelledby="wildLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="draconic">Wild Magic</h5>
        <button type="button" class="draconic" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Your innate magic comes from the wild forces of chaos that underlie the order of creation. You might have endured exposure to some form of raw magic, perhaps through a planar portal leading to Limbo, the Elemental Planes, or the mysterious Far Realm. Perhaps you were blessed by a powerful fey creature or marked by a demon. Or your magic could be a fluke of your birth, with no apparent cause or reason. However it came to be, this chaotic magic churns within you, waiting for any outlet.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
  

<form action="/char/spells" method="POST">
  <select class="form-control" id="sorcerer-origin" name="sorcerer-origin">
      <option value="1">Draconic origin</option>
      <option value="2">Wild origin</option>
  </select>
  <button type="submit" class="btn btn-danger"> Submit</button>
  </form>
  <% } %>
  <% if (objectInfo.userClass === '47') { %>
    <p><b>WHOA</b> there Warlock, you need to pick your Patron:</p>

  <!-- Button trigger modal -->
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#archfey">
  The Archfey
</button>

<!-- Modal -->
<div class="modal fade" id="archfey" tabindex="-1" aria-labelledby="archfeyLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="archfeyLabel">Draconic Blood</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Your patron is a lord or lady of the fey, a creature of legend who holds secrets that were forgotten before the mortal races were born. This being’s motivations are often inscrutable, and sometimes whimsical, andmight involve a striving for greater magical power or the settling of age-old grudges. Beings of this sort include the Prince of Frost; the Queen of Air and Darkness, ruler of the Gloam ing Court; Titania of the Summer Court; her consort Oberon, the Green Lord; Hyrsam, the Prince of Fools; and ancient hags.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#fiend">
The Fiend
</button>

<!-- Modal -->
<div class="modal fade" id="fiend" tabindex="-1" aria-labelledby="fiendLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="draconic">The Fiend</h5>
        <button type="button" class="draconic" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>You have made a pact with a fiend from the lower planes of existence, a being whose aims are evil, even if you strive against those aims. Such beings desire the corruption or destruction of all things, ultimately including you. Fiends powerful enough to forge a pact include demon lords such as Demogorgon, Orcus, Fraz’Urb-luu, and Baphomet; archdevils such as Asmodeus, Dispater, Mephistopheles, and Belial; pit fiends and balors that are especially mighty; and ultroloths and other lords of the yugoloths.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#greatOldOne">
    Great Old One
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="greatOldOne" tabindex="-1" aria-labelledby="greatOldOneLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="draconic">The Great Old One</h5>
            <button type="button" class="draconic" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Your patron is a mysterious entity whose nature is utterly foreign to the fabric of reality. It might come from the Far Realm, the space beyond reality, or it could be one of the elder gods known only in legends. Its motives are incomprehensible to mortals, and its knowledge so immense and ancient that even the greatest libraries pale in comparison to the vast secrets it holds. The Great Old One might be unaware of your existence or entirely indifferent to you, but the secrets you have learned allow you to draw your magic from it. Entities of this type include Ghaunadar, called That Which Lurks; Tharizdun, the Chained God; Dendar, the Night Serpent; Zargon, the Returner; Great Cthulhu; and other unfathomable beings.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  

<form action="/char/spells" method="POST">
  <select class="form-control" id="warlock-origin" name="warlock-origin">
      <option value="1">The Archfey</option>
      <option value="2">The Fiend</option>
      <option value="3">The Great Old One</option>
  </select>
  <button type="submit" class="btn btn-danger"> Submit</button>
  </form>
<% } else { %>
</div>
<form action="/char/spells" method="POST">
 <button type="submit" class="btn btn-danger"> Submit</button>
</form>
<% } %>
</div>