<div class="create">
  <h3><p class="important">Create New Character</p></h3>
    <p>Click on the buttons for more information about that certain <b>class</b>/<b>race</b>/<b>background</b>! Once you're happy with your choices, press <b>'Submit'</b> to move on to your <b>Ability Scores</b>!</p>
  <div class="select-class">
    <p class="title"><h5>Classes:</h5></p>
      <% for(let i = 0; i < allClasses.length; i++) { %>
      <% className = allClasses[i] %>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#<%=className.name%>">
      <%=className.name%>
      </button>
<!-- Modal -->
      <div class="modal fade" id="<%=className.name%>" tabindex="-1" role="dialog" aria-labelledby="<%=className.name%>Title" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="<%=className.name%>Title"><%=className.name%></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      <div class="modal-body">
        <p><%=className.desc %></p>
        <b><p>Hit Dice:</p></b><%=className.hitDice %>
        <b><p>First Level HP:</p></b><%=className.firstLevelHp %>
        <b><p>HP after 1st Level:</p></b><%=className.moreLevelHp %>
        <b><p>Armor Proficiency:</p></b><%=className.profArmor %>
        <b><p>Weapon Proficiency:</p></b> <%=className.profWeapons %>
        <b><p>Tool Proficiency:</p></b><%=className.profTools %>
        <b><p>Saving Throws:</p></b><%=className.profSaveThrow %>
        <b> <p>Skill Proficiency:</p></b><%=className.profSkills %>
        <b><p>Equipment:</p></b><%=className.equipment %>
        <b><p>Spellcasting Ability Modifier:</p></b><%=className.spellcastingAbil %>
      </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
        </div>
          </div>
        </div>
      <% } %>
  </div>
  <div class="select-race">
    <p class="title"><h5>Races:</h5></p>
      <% for(let i = 0; i < allRaces.length; i++) { %>
      <% raceName = allRaces[i] %>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#<%=raceName.name%>">
      <%=raceName.name%>
      </button>
      <!-- Modal -->
      <div class="modal fade" id="<%=raceName.name%>" tabindex="-1" role="dialog" aria-labelledby="<%=raceName.name%>Title" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="<%=raceName.name%>Title"><%=raceName.name%></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Size:</p><%=raceName.size %>
        <p>Ability Score Increase:</p><%=raceName.asiDesc %>
        <p>Speed:</p><%=raceName.speed %> ft
        <p>Languages:</p><%=raceName.lang %>
        <p>Vision:</p><%=raceName.vision %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
          </div>
        </div>
      </div>
    <% } %>
  </div>
  <div class="select-background">
    <p class="title"><h5>Backgrounds:</h5></p>
      <% for(let i = 0; i < allBackgrounds.length; i++) { %>
      <% background = allBackgrounds[i] %>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#<%=background.name%>">
      <%=background.name%>
      </button>
      <!-- Modal -->
      <div class="modal fade" id="<%=background.name%>" tabindex="-1" role="dialog" aria-labelledby="<%=background.name%>Title" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="<%=background.name%>Title"><%=background.name%></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><%=background.desc %></p>
        <p>Skill Proficiency:</p><%=background.skillProf %>
        <p>Tool Proficiency:</p><%=background.profTools %>
        <p>Languages:</p><%=background.lang %>
        <p>Equipment:</p><%=background.equipment %>
        <p>Feat:</p> <%=background.feat %>
        <p>Feat Description:</p><%=background.featDesc%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
          </div>
        </div>
      </div>    
    <% } %>
  </div>
  <div class="form-post-container">
    <form method="POST"action="/char/ability-score">
      <div class="form-row align-items-center">
      <div class="form-group mb-2">
      <label for="class"><h5>Select a class:</h5></label>
       <select class="form-control" id="class" name="class">
        <% for(let i = 0; i < allClasses.length; i++) { %>
          <% className = allClasses[i] %>
          <option value="<%=className.id%>"><%=className.name%></option>
        <% } %>
       </select>
      </div>
      <div class="form-group">
      <label for="race"><h5>Select a race:</h5></label>
       <select class="form-control mb-2" id="race" name="race">
        <% for(let i = 0; i < allRaces.length; i++) { %>
          <% raceName = allRaces[i] %>
          <option value="<%=raceName.id%>"><%=raceName.name%></option>
        <% } %>
       </select>
      </div>
      <div class="form-group">
      <label for="background"><h5>Select a background:</h5></label>
       <select class="form-control mb-2" id="background" name="background">
        <% for(let i = 0; i < allBackgrounds.length; i++) { %>
          <% background = allBackgrounds[i] %>
          <option value="<%=background.id%>"><%=background.name%></option>
        <% } %>
       </select>
      </div>
      </div>
      <button type="submit" class="btn btn-danger">Submit</button>
    </form>
  </div>
</div>
