<div class="create">
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="class-tab" data-toggle="tab" href="#class" role="tab" aria-controls="class" aria-selected="true">Class</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="race-tab" data-toggle="tab" href="#race" role="tab" aria-controls="race" aria-selected="false">Race</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="abilityScore-tab" data-toggle="tab" href="#abilityScore" role="tab" aria-controls="abilityScore" aria-selected="false">Background</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="class" role="tabpanel" aria-labelledby="class-tab">
    <h4>Click a class to find out more information about it:</h4>
    <% for(let i = 0; i < allClasses.length; i++) { %>
      <% className = allClasses[i] %>
      <!-- Button trigger modal -->
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#<%=className.name%>">
  <%=className.name%>
</button>
<!-- Modal -->
<div class="modal fade" id="<%=className.name%>" tabindex="-1" role="dialog" aria-labelledby="<%=className.name%>Title" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="<%=className.name%>Title"><%=className.name%></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
        
        <p><%=className.desc %></p>
        <p>Hit Dice:</p><%=className.hitDice %>
        <p>First Level HP:</p><%=className.firstLevelHp %>
        <p>HP after 1st Level:</p><%=className.moreLevelHp %>
        <p>Armor Proficiency:</p><%=className.profArmor %>
        <p>Weapon Proficiency:</p><%=className.profWeapons %>
        <p>Tool Proficiency:</p><%=className.profTools %>
        <p>Saving Throws:</p><%=className.profSaveThrow %>
        <p>Skill Proficiency:</p><%=className.profSkills %>
        <p>Equipment:</p><%=className.equipment %>
        <p>Spellcasting Ability Modifier:</p> <%=className.spellcastingAbil %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    <% } %>
    <form action="/char/create" method="POST">
      <div class="form-group">
      <label for="class"><h5>Select a class:</h5></label>
       <select class="form-control" id="class" name="class">
        <% for(let i = 0; i < allClasses.length; i++) { %>
          <% className = allClasses[i] %>
          <option value="<%=className.name%>"><%=className.name%></option>
        <% } %>
       </select>
      </div>
    </form>
  </div>
  <div class="tab-pane fade" id="race" role="tabpanel" aria-labelledby="race-tab">
    <h4>Click a race to find out more information about it:</h4>
    <% for(let i = 0; i < allRaces.length; i++) { %>
      <% raceName = allRaces[i] %>
      <!-- Button trigger modal -->
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#<%=raceName.name%>">
  <%=raceName.name%>
</button>
<!-- Modal -->
<div class="modal fade" id="<%=raceName.name%>" tabindex="-1" role="dialog" aria-labelledby="<%=raceName.name%>Title" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="<%=raceName.name%>Title"><%=raceName.name%></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
        
        <p>Size:</p><%=raceName.size %>
        <p>Ability Score Increase:</p><%=raceName.asiDesc %>
        <p>Speed:</p><%=raceName.speed %> ft
        <p>Languages:</p><%=raceName.lang %>
        <p>Vision:</p><%=raceName.vision %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    <% } %>
    <form action="/char/create" method="POST">
      <div class="form-group">
      <label for="class"><h5>Select a race:</h5></label>
       <select class="form-control" id="class" name="class">
        <% for(let i = 0; i < allRaces.length; i++) { %>
          <% raceName = allRaces[i] %>
          <option value="<%=raceName.name%>"><%=raceName.name%></option>
        <% } %>
       </select>
      </div>
    </form>
  </div>
  
  <div class="tab-pane fade" id="abilityScore" role="tabpanel" aria-labelledby="abilityScore-tab">
    <h4>Click a background to find out more information about it:</h4>
    <% for(let i = 0; i < allBackgrounds.length; i++) { %>
      <% background = allBackgrounds[i] %>
      <!-- Button trigger modal -->
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#<%=background.name%>">
  <%=background.name%>
</button>
<!-- Modal -->
<div class="modal fade" id="<%=background.name%>" tabindex="-1" role="dialog" aria-labelledby="<%=background.name%>Title" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="<%=background.name%>Title"><%=background.name%></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
        
        <p><%=background.desc %></p>
        <p>Skill Proficiency:</p><%=background.skillProf %>
        <p>Tool Proficiency:</p><%=background.profTools %>
        <p>Languages:</p><%=background.lang %>
        <p>Equipment:</p><%=background.equipment %>
        <p>Feat:</p> <%=background.feat %>
        <p>Feat Description:</p><%=background.featDesc%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    <% } %>
    <form action="/char/create" method="POST">
      <div class="form-group">
      <label for="class"><h5>Select a background:</h5></label>
       <select class="form-control" id="class" name="class">
        <% for(let i = 0; i < allBackgrounds.length; i++) { %>
          <% background = allBackgrounds[i] %>
          <option value="<%=background.name%>"><%=background.name%></option>
        <% } %>
       </select>
      </div>
    </form>
  </div>
  </div>
  <form action="/char/create/2" method="POST" onclick="submit()">
  <button type="button" class="btn btn-danger">Submit</button>
</form>

</div>
