<div class="create">
  <h3><p class="important">Create New Character</p></h3>
    <p>Click on the buttons for more information about that certain <b>class</b>/<b>race</b>/<b>background</b>! Once you're happy with your choices, press <b>'Submit'</b> to move on to your <b>Ability Scores</b>!</p>
  <div class="select-class">
    <p class="title"><h5>Classes:</h5></p>
      <% for(let i = 0; i < allClasses.length; i++) { %>
      <% className = allClasses[i] %>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#<%=className.name%>">
      <%=className.name%>
      </button>
<!-- Modal -->
      <div class="modal fade" id="<%=className.name%>" tabindex="-1" role="dialog" aria-labelledby="<%=className.name%>Title" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            
      <div class="modal-header">
        <h5 class="modal-title" id="<%=className.name%>Title"><%=className.name%></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
      <div class="modal-body">
        <p><i><%=className.desc %></i></p>
        <b><li>Hit Dice:</li></b><%=className.hitDice %><br>
        <b><li>First Level HP:</li></b><%=className.firstLevelHp %><br>
        <b><li>HP after 1st Level:</li></b><%=className.moreLevelHp %><br>
        <b><li>Armor Proficiency:</li></b><%=className.profArmor %><br>
        <b><li>Weapon Proficiency:</li></b> <%=className.profWeapons %><br>
        <b><li>Tool Proficiency:</li></b><%=className.profTools %><br>
        <b><li>Saving Throws:</li></b><%=className.profSaveThrow %><br>
        <b> <li>Skill Proficiency:</li></b><%=className.profSkills %><br>
        <b><li>Equipment:</li></b><%=className.equipment %><br>
        <b><li>Spellcasting Ability Modifier:</li></b><%=className.spellcastingAbil %>
      </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
          </div>
        </div>
      <% } %>
  </div>
  <div class="select-race">
    <p class="title"><h5>Races:</h5></p>
      <% for(let i = 0; i < allRaces.length; i++) { %>
      <% raceName = allRaces[i] %>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#<%=raceName.name%>">
      <%=raceName.name%>
      </button>
      <!-- Modal -->
      <div class="modal fade" id="<%=raceName.name%>" tabindex="-1" role="dialog" aria-labelledby="<%=raceName.name%>Title" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"  tabindex="-1" role="dialog" id="<%=raceName.name%>Title" aria-hidden="true"><%=raceName.name%></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <li><b>Size:</b></li><%=raceName.size %><br>
        <li><b>Ability Score Increase:</b></li><%=raceName.asiDesc %><br>
        <li><b>Speed:</b></li><%=raceName.speed %> ft<br>
        <li><b>Languages:</b></li><%=raceName.lang %><br>
        <% if (raceName.vision === 'Darkvision') { %>
        <li><b>Vision:</b></li><%=raceName.vision %><br>
        <% } %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
          </div>
        </div>
      </div>
    <% } %>
  </div>
  <div class="select-background">
    <p class="title"><h5>Backgrounds:</h5></p>
      <% for(let i = 0; i < allBackgrounds.length; i++) { %>
      <% background = allBackgrounds[i] %>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#<%=background.name%>">
      <%=background.name%>
      </button>
      <!-- Modal -->
      <div class="modal fade" id="<%=background.name%>" tabindex="-1" role="dialog" aria-labelledby="<%=background.name%>Title" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="<%=background.name%>Title"><%=background.name%></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><i><%=background.desc %></i></p>
        <li><b>Skill Proficiency:</b></li><%=background.skillProf %> <br>
        <li><b>Tool Proficiency:</b></li><%=background.toolProf %><br>
        <li><b>Languages:</b></li><%=background.lang %><br>
        <li><b>Equipment:</b></li><%=background.equipment %><br>
        <li><b>Feat:</b></li> <%=background.feat %><br>
        <li><b>Feat Description:</b></li><%=background.featDesc%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
          </div>
        </div>
      </div>    
    <% } %>
  </div>
  <div class="form-post-container">
    <form method="POST"action="/char/ability-score">
      <div class="form-row ">
      <div class="form-group mb-2">
      <label for="class"><h5>Select a class:</h5></label>
       <select class="form-control" id="class" name="class">
        <% for(let i = 0; i < allClasses.length; i++) { %>
          <% className = allClasses[i] %>
          <option value="<%=className.id%>"><%=className.name%></option>
        <% } %>
       </select>
      </div>
      <div class="form-group">
      <label for="race"><h5>Select a race:</h5></label>
       <select class="form-control mb-2" id="race" name="race">
        <% for(let i = 0; i < allRaces.length; i++) { %>
          <% raceName = allRaces[i] %>
          <option value="<%=raceName.id%>"><%=raceName.name%></option>
        <% } %>
       </select>
      </div>
      <div class="form-group">
      <label for="background"><h5>Select a background:</h5></label>
       <select class="form-control mb-2" id="background" name="background">
        <% for(let i = 0; i < allBackgrounds.length; i++) { %>
          <% background = allBackgrounds[i] %>
          <option value="<%=background.id%>"><%=background.name%></option>
        <% } %>
       </select>
      </div>
      </div>  
    <div class="select-background">
      <div class="form-row">
        <div class="col cold-md-4">
          <label for="name">Name:</label>
          <input type="text" name="name" class="form-control" id="name">
        </div>
        <div class="col cold-md-2">
          <label for="age">Age:</label>
          <input type="text" name="age" class="form-control" id="age">
        </div>
        <div class="col cold-md-3">
          <label for="height">Height:</label>
          <input type="text" name="height" class="form-control" id="height">
        </div>
      </div>

      <div class="form-row">
        <div class="col cold-md-3">
          <label for="gender">Gender:</label>
          <input type="text" name="gender" class="form-control" id="gender">
        </div>
        <div class="col cold-md-4">
          <label for="eyes">Eyes:</label>
          <input type="text" name="eyes" class="form-control" id="eyes">
        </div>
        <div class="col cold-md-4">
          <label for="hair">Hair:</label>
          <input type="text" name="hair" class="form-control" id="hair">
        </div>
      </div>
    </div>
      <div class="form-group">
        <label for="bioDesc">Bio: </label>
        <textarea class="form-control" name="bioDesc" id="bioDesc" rows="5"></textarea>
      </div>

      <button type="submit" class="btn btn-danger">Submit</button>
    </form>
  </div>
</div>
